body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.puntuacion {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

img {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.mensaje {
  font-size: 20px;
  color: rgb(255, 149, 0);
  margin-top: 20px;
}
